body{
    background-color:gainsboro
}

#profile-wrapper{
    text-align : center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 2%;
    list-style-type: none;
}

.languages li{
    display: inline-block;
    margin-right: 5%;
}
.more li{
    display: inline-block;
}


#moreabout li:hover{
    border-radius: 25px;
    transform: scale(0.95);
    box-shadow: 0 0 11px rgba(122,33,33,.2);
    background-color: rgb(245, 243, 243);
}

.social-links ul,li{
    list-style-type: none;
}

.social{
    width:25px;
    height:25px;
}

.social:hover{
    transform: scale(1.25);
}

.social-box{
    overflow: hidden;
    position: fixed;
    margin : 5px;
    padding : 7px;
}

#cp li:hover{
    transform: scale(1.25);
}

.footer{
    font-family: fantasy;
    font-weight: 500;
    position: absolute;
    margin-top: 80%;
    margin-left: 87%;
}
@media(max-width:900px){
    .footer{
        font-size: 0;
    }
}

