<style>
    .btn:hover{
        transform:scale(1.20);
        box-shadow: 0 0 11px rgba(122,33,33,.2);
        background-color: rgb(245, 243, 243);
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head> <title>Adarsh Kumar Sinha</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color: rgb(132, 185, 132);">

    <div>
        <div class="row-md" style="margin: 10%;">
            <div class = "card card-body" id = "heading" style=" border-radius: 35px;">
                <br>
                <p style= " font-size: 40px; text-align: center;">Form Submitted succcessfully!</p>
                <hr>
                <p>Thank you for your intrest, I shall revert back to you with your query.<br><br> <a href=""><button class = "btn" style="background-color:papayawhip; margin-left: 2%;">Go Back</button> </a></p>
                
            </div>
        </div>
    </div>

</body>